.Button {
	display: inline-block;
	background: none;
	border-radius: 3px;
	padding: 7px 15px;
	background-color: #232526;
	color: white;
	border: none;
	margin-right: 10px;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	cursor: pointer;
}
.Button:focus {
	outline: none;
}
.Button:active {
	box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.Button:disabled {
	cursor: not-allowed;
	background-color: #ccc;
}
