.MainPage {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	width: 100%;
}
.MainPage > div {
	width: 100%;
	max-width: 1200px;
}
.MainPage h1 {
	text-align: center;
}
.MainPage .restaurants {
	display: flex;
	flex-flow: row wrap;
	margin-right: -40px;
}
.LoaderWrap {
	padding: 100px;
	text-align: center;
}
